.vs/ConsoleApp3/v16/.suo
bin/Debug/ClassLibrary1.dll
bin/Debug/ClassLibrary1.pdb
bin/Debug/ConsoleApp3.exe
bin/Debug/ConsoleApp3.exe.config
bin/Debug/ConsoleApp3.pdb
bin/Debug/YourApi.XML
obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
obj/Debug/ConsoleApp3.csproj.CopyComplete
obj/Debug/ConsoleApp3.csproj.CoreCompileInputs.cache
obj/Debug/ConsoleApp3.csproj.FileListAbsolute.txt
obj/Debug/ConsoleApp3.csprojAssemblyReference.cache
obj/Debug/ConsoleApp3.exe
obj/Debug/ConsoleApp3.pdb
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
bin/YourApi.XML
ConsoleApp3.sln
.vscode/settings.json
笔记.pdf
